body {
    font-family: 'Arial';
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #0000FF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.cover {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/370/787/original/violet-cyberpunk-styled-light-on-horizon-neon-background-free-vector.jpg'); /* Replace with your own image URL */
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover2 {
    background-image: url('https://media.tenor.com/Ux8DkBfh_OEAAAAd/purple-cyberpunk.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}