body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8e44ad; /* Paarse achtergrond */
    color: #f9ca24; /* Gele tekst */
}

header {
    background-color: #8e44ad; /* Paarse achtergrond */
    color: #f9ca24; /* Gele tekst */
    text-align: center;
    padding: 1em;
}

.product-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #8e44ad; /* Paarse achtergrond */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-details {
    margin-top: 20px;
}

.product-name {
    font-size: 2em;
    margin-bottom: 10px;
    color: #f9ca24; /* Gele tekst */
}

.product-price {
    font-size: 1.5em;
    color: #f9ca24; /* Gele tekst */
}

.product-description {
    margin-top: 20px;
    line-height: 1.6;
    text-align: left;
    color: #f9ca24; /* Gele tekst */
}

.add-to-cart {
    background-color: #f9ca24; /* Gele achtergrond */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.view-cart {
    background-color: #f9ca24; /* Gele achtergrond */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.cart {
    text-align: right;
    margin-top: 10px;
    color: #f9ca24; /* Gele tekst */
}

.cart-icon {
    font-size: 1.5em;
    margin-right: 5px;
}

.cart-count {
    background-color: #f9ca24; /* Gele achtergrond */
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1em;
}

.quantity-select {
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
}

.remove-from-cart {
    background-color: #e74c3c; /* Rode achtergrond */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 10px;
}