body {
    margin: 0;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498db; /* Stel de standaardachtergrondkleur in */
    transition: background-color 0.5s ease; /* Voeg een overgang toe voor een soepele kleurverandering */
}