*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gili sans', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.NerdyGadgets{
    font-size: 32px;
    color: #daa671;
    text-decoration: none;
    font-weight: 700;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0;
    margin-left: 20px;
}
.navbar li a {
    position: relative;
    font-size: 18px;
    color: #daa671;
    font-weight: 500;
    text-decoration: none;
}
.navbar li a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #daa671;
    transition: .3s;
}
.navbar li a:hover::before {
    width: 100%;
}
.content h1{
    font-size: 65px;
    color: #d08c49;
    font-weight: 600;
    margin-left: -340px;
    margin-right: auto;
    margin-top: 450px;
}
.content h2{
    font-size: 65px;
    color: #d08c49;
    font-weight: 600;
    margin-left: -340px;
    margin-right: auto;
    margin-top: 450px;
}

.content h3{
    font-size: 35px;
    color: #d5995d;
    font-weight: 600;
    margin-left: -130px;
    margin-right: auto;
    margin-top: 10px;
}
.content p{
    font-size: 20px;
    color: #daa671;
    font-weight: 600;
    margin-left: -400px;
    margin-top: 30px;
    font-family: 'courier new', monospace;
    line-height: 0.25;
}
.content p.p1{
    font-size: 20px;
    color: #daa671;
    font-weight: 600;
    margin-left: -300px;
    margin-top: 25px;
    font-family: 'courier new', monospace;
    line-height: 0.25;
}
.content p.p2{
    font-size: 20px;
    color: #daa671;
    font-weight: 600;
    margin-left: -420px;
    margin-top: 25px;
    font-family: 'courier new', monospace;
    line-height: 0.25;
}
.content p.p3{
    font-size: 20px;
    color: #daa671;
    font-weight: 600;
    margin-left: -350px;
    margin-top: 25px;
    font-family: 'courier new', monospace;
    line-height: 0.25;
}
.content p.p4{
    font-size: 22px;
    color: #daa671;
    font-weight: 600;
    margin-left: -200px;
    margin-top: 25px;
    font-family: 'courier new', monospace;
    line-height: 0.25;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 25px;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}

.scrollable-container {
    overflow: auto;
}

/*Kaarten homepage*/

.maincards{
    margin: 3.3%;
    margin-top: 250px;

}

.cards{
    width: 27%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2.7%;

}

.image img{
    width: 100%;
    height: auto;

}

.title{
    text-align: center;
    padding: 20px;
    color: #d08c49;
    font-family: 'Times New Roman', serif;
}

h1{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    color: #daa671;
}

.des{
    padding: 3px;
    font-size: 18px;
    line-height: 2.0;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #daa671;
    font-family: Garamond, serif;
}

button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: #070A14;
    border: 1px solid #daa671;
    padding: 5px;
    cursor: pointer;
    color: #daa671;
}
button:hover{
    background-color: black;
    color: white;
    transition: .5s;
}